button{
    border: none;
    color: #fff;
    padding: 6px 10px;
    background-color: green;
    border-radius: 2px;
    margin: 0 5px;
    font-weight: 600;
    cursor: pointer;
    font-size: 0.75rem;
}